.header {
  width: 100vw;
  height: 7rem;
  background-color: #ff962e;    
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #1e1d1c;
}


.nav-links {
  display: flex;
  list-style: none; /* Remove default bullet points */
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin-right: 1rem; /* Add some spacing between links */
}

.active {
  font-weight: bold; /* Visually emphasize the active link */
}

.img-logo{
  width: 7rem;
  height: 95%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
}